/*Divs e Navs*/
@media only screen and (max-width: 1099px){
body{
    background-image: url(../imagens/fundo2.jpg);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}
div#efeitomenu{
    background-color: rgba(143,143,143,.6);
}
nav#menu-principal{
    background-color: rgb(68,68,68);
    width: 700px;
    height: 45px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
nav#menu-principal ul{
    background-color: rgb(68,68,68);
    list-style: none;
    width: 700px;
    height: 45px;
    margin: 0px auto;
    padding: 0px;
    position: fixed;
    display: block;
    z-index: 9999;
}
nav#menu-principal li{
    background-color: rgb(100,100,100);
    padding: 12px 18px 12px 28px;
    margin: 0px -2px;
    display: inline-block;
    color: white;
    font-family: arial;
    font-size: 13pt;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    transition: all 1s;
}
nav#menu-principal li:hover{
    padding: 12px 28px 12px 18px;
    background-color: rgba(0,0,0,.5);
}
div#detalhes{
    background-color: #c1c1c1;
    width: 717px;
    height: 350px;
    padding: 3px;
    margin: 105px auto 0px auto;
    border: 3px outset #c1c1c1;
    box-shadow: 2px 4px 2px black;
    transition: all .7s;
}
div#detalhes:hover{
    border: 3px inset #c1c1c1;
}
div#PrevNoticiaG{
    background-repeat: repeat;
    background-position: top left;
    margin: 0px 0px 0px 345px;
    padding: 21px;
    position: absolute;
    width: 330px;
    height: 307px;
    transition: all 1s;
    z-index: 1;
}
div#PrevNoticiaG:hover{
    background-position: top right;
    margin-top: -5px;
    margin-left: 345px;
    opacity: 5;
    width: 340px;
    height: 320px;
    box-shadow: -2px 0px 3px #909090;
}
div#PrevNoticiaP{
    background-repeat: repeat;
    background-position: top left;
    margin: 178px 0px 0px 173px;
    padding: 7px;
    position: absolute;
    float: right;
    width: 155px;
    height: 157px;
    transition: all 1s;
    z-index: 1;
}
div#PrevNoticiaP:hover{
    background-position: top right;
    margin-top: 176px;
    margin-left: 170px;
    width: 160px;
    height: 166px;
    box-shadow: 2px -2px 3px #909090;
}
div#PrevNoticiaPTwo{
    background-repeat: repeat;
    background-position: top left;
    margin: 178px 0px 0px 0px;
    padding: 7px;
    position: absolute;
    width: 155px;
    height: 157px;
    transition: all 1s;
    z-index: 1;
}
div#PrevNoticiaPTwo:hover{
    background-position: top right;
    margin-top: 176px;
    margin-left: -6px;
    width: 162px;
    height: 166px;
    box-shadow: 2px -2px 3px #909090;
}
div#PrevNoticiaM{
    background-repeat: repeat;
    background-position: top left;
    padding: 7px;
    position: absolute;
    margin: 0px 0px 0px 0px;
    width: 328px;
    height: 160px;
    transition: all 1s;
    z-index: 1;
}
div#PrevNoticiaM:hover{
    background-position: top right;
    margin-top: -6px;
    margin-left: -8px;
    width: 336px;
    height: 168px;
    box-shadow: 2px 2px 3px #909090;
}
div#propa{
    width: 510px;
    height: 89px;
    background-color: #c1c1c1;
    border-radius: 7px;
    margin: 25px auto;
    padding: 7px;
}
div#formulario{
    background-color: rgba(0,0,0,.5);
    width: 760px;
    padding: 10px;
    margin: 150px auto 150px auto;
    height: 850px;
    border-radius: 20px;
    transition: all .7s;
}
fieldset#Pessoa{
    margin: 10px;
    padding: 10px;
    border: none;
}
fieldset#Pessoa legend{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15pt;
    font-family: arial;
}
div#formulario p{
    color: #d8d8d8;
    font-family: Corbel;
    font-size: 18pt;
    text-align: left;
}
div#formulario input#Inome{
    background-color: rgba(0,0,0,.3);
    font-size: 15pt;
    color: rgba(250,250,250,.7);
    border-radius: 10px;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    margin-left: 8px;
    margin-right: 5px;
    width: 245px;
    height: 45px;
}
div#formulario input#Isobrenome{
    background-color: rgba(0,0,0,.3);
    font-size: 15pt;
    color: rgba(250,250,250,.7);
    border-radius: 10px;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    width: 245px;
    height: 45px;
}
div#formulario input#Iemail{
    background-color: rgba(0,0,0,.3);
    font-size: 15pt;
    color: rgba(250,250,250,.7);
    border-radius: 10px;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    width: 630px;
    height: 45px;
}
div#formulario input#Iidade{
    background-color: rgba(0,0,0,.3);
    font-size: 15pt;
    color: rgba(250,250,250,.7);
    border-radius: 10px;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    margin-left: 15px;
    margin-right: 5px;
    width: 80px;
    height: 45px;
}
fieldset#Avaliacao{
    margin: 50px 0px 0px -10px;
    padding: 10px;
    border: none;
}
fieldset#Avaliacao legend{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 15pt;
    font-family: arial;
}
div#formulario input#Inota{
    margin: 0px;
    width: 590px;
}
div#formulario textarea{
    background-color: rgba(0,0,0,.3);
    font-size: 15pt;
    color: rgba(250,250,250,.7);
    border-radius: 10px;
    border-color: rgba(0,0,0,.3);
    border-style: solid;
    margin: 0px;
    width: 720px;
    height: 250px;
}
div#conteudo{
    background-color: #c1c1c1;
    width: 770px;
    margin: 25px auto 0px auto;
    height: 2000px;
    border: 5px outset #00021a;
    transition: all .7s;
}
div#conteudo section{
    width: 462px;
    margin: 0px auto 0px 0px;
    padding: 7px;
    float: left;
}
div#conteudo section ul{
    list-style: disclosure-closed;
    padding: 0px 7px 0px 7px;
    margin: 0px;
}
div#conteudo section ul li{
    padding: 4px 0px 0px 4px;
    margin: 0px;
    font-family: arial, sans-serif;
}
hgroup#enunciado{
    margin: 0px;
    padding: 0px;
}
article{
    margin: 0px;
    padding: 0px;
}
article img#tamsection{
    margin: 21px auto 21px auto;
    width: 406px;
}
iframe#youtube{
    margin: 21px 0px;
    width: 455px;
    height: 259px;
    border: none;
}
div#conteudo aside{
    width: 280px;
    height: 420px;
    margin: 0px;
    padding: 0px;
    float: right;
}
div#video{
    background-color: #eeeeee;
    width: 266px;
    height: 210px;
    padding: 7px;
    margin: 0px 0px 84px 0px;
    border-radius: 0px 0px 0px 28px;
}
div#video iframe{
    width: 266px;
    height: 154px;
}
div#propaganda{
    background-color: #8f8f8f;
    width: 245px;
    height: 154px;
    margin: 35px 0px 0px 35px;
    vertical-align: center;
    border-radius: 28px 0px 0px 28px;
    transition: all .5s;
}
div#propaganda:hover{
    background-color: #b88080;
    width: 238px;
    margin-left: 42px;
}
footer{
    display: inline-block;
    clear: both;
}
}
